{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project Details | AlienClouds
{% endblock %}

{% block section %}
    <div class="allprojects_main_block">

        <div class="even-project" style="width:47%; height: 600px">
            <div><p class="project_title">{{ project.title | upper }}</p></div>
            {% if project.image %}
                <img style="object-fit: cover; height: 500px" src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}
        </div>

        <div class="odd-project" style="width: 47%; height: 600px">
            <div><p class="project_title">DESCRIPTION</p></div>
            <div class="description_class">
                <small>{{ project.description }}</small>
            </div>
            <div class="button-details-edit-delete">
                {% if request.user.is_superuser %}
                    <a class="color-user uk-button" href="{% url 'project_edit' project.id %}">EDIT</a>
                    <a class="color-user uk-button" href="{% url 'project_delete' project.id %}">DELETE</a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}




