{% load tags %}

<div class="wrapper">
    <div class="cube">
        <div class="side side--back">
            <span class='dot'></span>
        </div>
        <div class="side side--top">
            <span class='dot'></span>
        </div>
        <div class="side side--bottom">
            <span class='dot'></span>
        </div>
        <div class="side side--left">
            <span class='dot'></span>
        </div>
        <div class="side side--right">
            <span class='dot'></span>
        </div>
        <div class="side side--front">
            <span class='dot'></span>
        </div>
        <h2 class="base_title">{% welcome_message request %}</h2>
    </div>
</div>