{% extends 'shared/base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{ projects_title }}{% endblock %}

{% block section %}
    <style>
        .center {
            text-align: center
        }

        .pic {
            max-height: 85%;
        }
    </style>

    <div class="div-projects-block">
        <h2 class="h2-pink-shadow">Projects</h2>

        {% for project in projects %}
            <div class="project-cell-block-{% cycle 'even' 'odd' %} center">
                <br>
                <p style="">{{ project.title | upper }}</p>
                <a href="{% url 'project_details' %}">
                    <img class="pic" src="{{ project.image.url }}" alt="{{ project.title }}">
                    <p>{{ project.description }}</p>
                </a>




            </div>
        {% endfor %}

    </div>
{% endblock %}
