{% extends 'shared/base.html' %}

{% block title %}
    Blog | AlienClouds
{% endblock %}

{% block section %}
    <style>
        .blog-div {
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 150px;
        }

        #blog-section-div p{
            color: whitesmoke;
        }
    </style>

    <div id="blog-section-div" class="blog-div">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Eget dolor morbi non arcu risus quis varius quam. Ornare lectus sit amet est. Auctor eu
            augue ut lectus arcu bibendum. Diam phasellus vestibulum lorem sed risus ultricies. Molestie at elementum eu
            facilisis sed odio morbi quis. Aenean sed adipiscing diam donec adipiscing tristique risus. Sit amet
            venenatis urna cursus eget nunc. Facilisis sed odio morbi quis commodo odio. In hac habitasse platea
            dictumst quisque sagittis purus. Faucibus vitae aliquet nec ullamcorper sit amet risus. Maecenas sed enim ut
            sem. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Ut eu sem integer vitae.
            Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Mattis molestie a iaculis at erat
            pellentesque. Posuere urna nec tincidunt praesent semper feugiat nibh.


        </p>
    </div>
{% endblock %}