{% extends 'shared/base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{ index_title }}{% endblock %}

{% block section %}
    <style>
        .welcome-block {
            text-align: center;
            padding-top: 220px;
            color: #096dcc;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .welcome-block h2 {
            text-shadow: 2px 2px 4px blue;
            line-height: 55px;
            font-weight: 700;
            letter-spacing: 2px;
            {#text-transform: uppercase;#}
        }

        a {
            color: white;
            text-decoration: none;
            cursor: default;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }


    </style>


    <div class="welcome-block">
{#        <h2 class="base_title">{% welcome_message request %}</h2>#}
        <div class="wrapper">

            <div class="cube">

                <div class="side side--back">
                    <span class='dot'></span>
                </div>
                <div class="side side--top">
                    <span class='dot'></span>
                </div>
                <div class="side side--bottom">
                    <span class='dot'></span>
                </div>
                <div class="side side--left">
                    <span class='dot'></span>
                </div>
                <div class="side side--right">
                    <span class='dot'></span>
                </div>
                <div class="side side--front">
                    <span class='dot'></span>
                </div>
                <h2 class="base_title">{% welcome_message request %}</h2>
            </div>
        </div>
    </div>


    {% block footer %}
        <div class="footer" style="color: white; font-weight: lighter; letter-spacing: 1.3px">
            {% if count_users > 0 %}
                <small><a>{{ count_users }}</a> Registered
                    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/9.js?i=5f3cvj125bh&amp;t=users"
                            async="async"></script>
                    | Alienclouds 2020
                    <a href="https://facebook.com/alienclouds.projects">| Facebook |</a>
                    <a href="https://github.com/andriiburka/AlienClouds">Github</a></small>
            {% else %}
                <small id="sf-mono-ultralight">No users registered yet</small>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}

