{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Details | AlienClouds
{% endblock %}

{% block section %}
    <style>
        .blog-div {
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 50px;
            {#border: #ff253a 5px solid;#}
        }

        #blog-section-div p{
            color: whitesmoke;
        }

        .image {
            width: 50%;
        }
    </style>


    <div id="blog-section-div" class="blog-div">
        <h1 style="color: white">{{ project.title }}</h1>
        <img class="image" src="{{ project.image.url }}" alt="">
        <h2>DESCRIPTION:</h2>
        <p>{{ project.description }}</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}