{% extends 'shared/base.html' %}
{% load static %}

{% block title %}User Profile | ALIENCLOUDS{% endblock %}

{% block section %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'upload_project' %}">{% csrf_token %}
        <h2 class="sfprodisplay-white-shadow">Have a project?</h2>
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <br>
        <div>
            {{ form.image.label }}
            {{ form.image }}
        </div>
        <br>
        <div>
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <br>
        <button class='uk-button block-cube block-cube-hover' type='submit'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>

            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>

            <div class='bg'>
                <div class='bg-inner'></div>
            </div>

            <div class='login_button_text'>ADD</div>

        </button>
    </form>
{% endblock %}


{% block script %}
    <script src="{% static 'js/placeholders_upload.js' %}"></script>
{% endblock %}


{% block footer %}
{% endblock %}