.even-project {
    background: rgba(102, 51, 153, .6) fixed;
}

.odd-project {
    background: rgba(255, 0, 199, .3) fixed;
}

.even-project, .odd-project {
    width: 32.4%;
    border: rgba(0, 0, 0, .5) 1px solid;
    border-radius: 2px;
    box-shadow: 5px 5px 20px black;
    float: left;
    height: 550px;
    margin: 5px;
}

.allprojects_main_block {
    align-content: center
}

@media (max-width: 1300px) {
    .even-project, .odd-project {
        width: 48.6%;
    }
}

@media (max-width: 820px) {
    .even-project, .odd-project {
        width: 48.5%;
    }
}

@media (max-width: 715px) {
    .even-project, .odd-project {
        width: 100%;
    }
}

/* 3 COLS */
@media (max-width: 2000px) {
    .allprojects_main_block {
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media (max-width: 1900px) {
    .allprojects_main_block {
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media (max-width: 1800px) {
    .allprojects_main_block {
        margin-left: 14%;
        margin-right: 14%;
    }
}

@media (max-width: 1700px) {
    .allprojects_main_block {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media (max-width: 1600px) {
    .allprojects_main_block {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1500px) {
    .allprojects_main_block {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1400px) {
    .allprojects_main_block {
        margin-left: 6%;
        margin-right: 6%;
    }
}

/* 2 COLS */
@media (max-width: 1300px) {
    .allprojects_main_block {
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media (max-width: 1200px) {
    .allprojects_main_block {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 1100px) {
    .allprojects_main_block {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media (max-width: 1000px) {
    .allprojects_main_block {
        margin-left: 9%;
        margin-right: 9%;
    }
}

@media (max-width: 900px) {
    .allprojects_main_block {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (max-width: 850px) {
    .allprojects_main_block {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 820px) {
    .allprojects_main_block {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 715px) {
    .allprojects_main_block {
        margin-left: 22%;
        margin-right: 22%;
    }
}

@media (max-width: 620px) {
    .allprojects_main_block {
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media (max-width: 570px) {
    .allprojects_main_block {
        margin-left: 0;
        margin-right: 10px;
    }
}