
<div class="div-form">
    <form method="POST" action="" autocomplete='off' class='form' id="login-form">
    	{% csrf_token %}

		<div class='control' style="text-align: center; padding-top: 15px">
			{% if messages %}
				{% for message in messages %}
					<h3 class="h2-pink-shadow">{{ message }}</h3>
            	{% endfor %}
			{% else %}
                <h2 class="h2-pink-shadow">Login</h2>
			{% endif %}
		</div>

        <div class='control block-cube block-input'>
            <input name='username'type="text">
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>

        <div class='control block-cube block-input'>
            <input name='password' type="password">
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>

        <button class='btn block-cube block-cube-hover' type='submit'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
            <div class='login_button_text'>Bam!</div>
        </button>
        <br>
        <p class="subtitle">Don't have an account? <a href='{% url 'register' %}'>Register</a></p>
    </form>
</div>
