{% block register_hints %}

    <style>
        .register_hints {
            font-family: sf_pro_display-ultralight, sans-serif;
            letter-spacing: 1px;
        }

        .h2-pink-shadow_border {
            display: block;
            font-family: sf_pro_display-ultralight, Helvetica, sans-serif;
            font-size: 20px;
            text-shadow: 4px 0 4px black;
        {#line-height: 55px;#}
            text-align: left;
            color: #ff00dd;
            border-bottom: 1px solid deeppink
        }
    </style>



    <div class="contacts-cell" style="padding-top: 100px; width: 500px">
        <div class="register_hints">
            <h2 class="h2-pink-shadow_border">Username</h2>
            <ul>
                <li>Required 150 characters or fewer</li>
                <li>Allowed letters, digits and @/./+/-/_</li>
            </ul>
            <h2 class="h2-pink-shadow_border">Password</h2>
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password must contains at least 8 characters.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>
    </div>

{% endblock %}