{% extends 'base.html' %}
{% load static %}

{% block title %}{{ login_title }}{% endblock %}

{% block section %}
    <div class='control'>
        {% if messages %}
            {% for message in messages %}
                <h4 class="error_messages sfprodisplay-white-shadow">{{ message }}</h4>
            {% endfor %}
        {% else %}
            <h2 class="error_messages sfprodisplay-white-shadow">Regin</h2>
        {% endif %}
    </div>

    <div class="div-form">
        <form method="POST" action="" class='form'>
            {% csrf_token %}

            <div class='control block-cube block-input'>
                {{ form.username }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                {{ form.password1 }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                {{ form.password2 }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <p>Optional</p><br>
            <div class='control block-cube block-input'>
                {{ form.first_name }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                {{ form.last_name }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                {{ form.email }}
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='login_button_text'>DONE</div>
            </button>
            <br>
            <p class="subtitle">Already have an account? <a href='{% url 'login' %}'>Login</a></p>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/placeholders.js' %}"></script>
{% endblock %}