{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en" class="{% bg_day_or_night request %}">
<head>
    <title>{% block title %}ALIENCLOUDS{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/cube.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/show_borders.css' %}">

    {% block style %}{% endblock %}

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
</head>

<body>
<header>

    {% block header %}
        <div class="sticky-menu" data-uk-sticky="{top:-200, animation: 'uk-animation-slide-top'}">
            <nav class="main-navbar">
                <a href="#main-offcanvas" class="main-navbar__mobile-btn uk-icon-bars uk-visible-small"
                   data-uk-offcanvas></a>
                <a href="{% url 'index' %}" class="main-navbar__logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
{#                <a href="#search-modal" class="main-navbar__search-btn uk-icon-search" data-uk-modal></a>#}
                <a href="" class="main-navbar__search-btn uk-icon-search" data-uk-modal></a>
                <ul class="main-navbar__nav uk-hidden-small">

                    {% if request.user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li><a class="color-user uk-button" href="{% url 'upload_project' %}">UPLOAD</a></li>
                            <li><a class="color-user uk-button" href="{% url 'shop' %}">STORE</a></li>
                            <li><a class="color-user uk-button" href="{% url 'projects' %}">PROJECTS</a></li>

                            <li><a class="uk-icon-user color-user uk-button" href=" {% url 'admin:index' %}"> Admin </a>

                            </li>
                            <li><a class="uk-icon-sign-out color-user uk-button" href="{% url 'logout' %}"></a></li>
                        {% else %}
                            <li><a class="color-user uk-button" href="{% url 'upload_project' %}">UPLOAD</a></li>
                            <li><a class="color-user uk-button" href="{% url 'shop' %}">STORE</a></li>
                            <li><a class="color-user uk-button" href="{% url 'projects' %}">PROJECTS</a></li>
                            <li><a class="uk-icon-user color-user uk-button" href="#"> {{ user }}</a></li>
                            <li><a class="uk-icon-sign-out color-user uk-button" href="{% url 'logout' %}"></a></li>
                        {% endif %}
                    {% else %}
                        <li><a class="color-user uk-button" href="{% url 'shop' %}">STORE</a></li>
                        <li><a class="color-user uk-button" href="{% url 'projects' %}">PROJECTS</a></li>
                        <li><a class="color-user uk-button" href="{% url 'login' %}">LOGIN</a></li>

                    {% endif %}

                </ul>
            </nav>
        </div>
    {% endblock %}
</header>


<section>
    {% block section %}{% endblock %}
</section>


<!-- page components -->
<div id="search-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <form action="" class="uk-form">
            <div class="uk-form-icon uk-width-1-1">
                <i class="uk-icon-search"></i>
                <input type="text" class="uk-width-1-1 uk-form-large" autofocus
                       placeholder="What are you looking for?"/>
            </div>
        </form>
    </div>
</div>


<!--RESPONSIVE MENU - MOBILE-->
<div id="main-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel">
            <h3 class="uk-contrast">
                <a class="color-user" href="{% url 'upload_project' %}">

                    {% if request.user.is_authenticated %}
                        Welcome, {% firstof user.get_short_name user.get_username %}!
                    {% else %}
                        <a href="{% url 'login' %}">You're not logged in.</a>
                    {% endif %}

                </a>
            </h3>
        </div>

        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>

            {% if request.user.is_authenticated %}
                {% if user.is_superuser %}

                    <li><a class="color-superuser" href="{% url 'admin:index' %}">Admin Panel</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}

                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% endif %}

            {% else %}
                <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif %}
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a href="{% url 'shop' %}">STORE</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
        </ul>
    </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/sticky.min.js'></script>

{% block script %}{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>
